---
import Breadcrumbs from "$components/breadcrumbs/breadcrumbs.svelte";
import { getCollection } from "astro:content";
import Blog from "../../layouts/blog.astro";
import Card from "./card.svelte";
import Featured from "./featured.svelte";

const allPosts = (await getCollection("blog")).sort((a, b) => new Date(b.data.publish).valueOf() - new Date(a.data.publish).valueOf());
const featured = allPosts.filter((post) => post.data.featured).slice(0, 2);
const posts = allPosts.filter((post) => !post.data.featured);
---

<Blog>
  <Breadcrumbs crumbs={[{ label: "Blog", href: "/blog" }]} />
  {
    featured.length > 0 && (
      <div class={`lg:grid-cols-${featured.length > 1 ? 2 : 1} grid gap-4`}>
        {featured.map(async (post) => (
          <Featured post={post} />
        ))}
      </div>
    )
  }
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
    {posts.map((post) => <Card post={post} />)}
  </div>
</Blog>
