---
import Breadcrumbs from "$components/breadcrumbs/breadcrumbs.svelte";
import { getCollection } from "astro:content";
import Blog from "../../layouts/blog.astro";
import PostHeader from "./post-header.astro";

const allPosts = (await getCollection("blog")).sort((a, b) => new Date(b.data.publish).valueOf() - new Date(a.data.publish).valueOf());
const featured = allPosts.filter((post) => post.data.featured).slice(0, 2);
const posts = allPosts.filter((post) => !post.data.featured);
---

<Blog>
  <Breadcrumbs crumbs={[{ label: "Blog", href: "/blog" }]} />
  <div class="rounded-xl bg-black p-4">
    {
      featured.length > 0 && (
        <div class={`lg:grid-cols-${featured.length > 1 ? 2 : 1} grid gap-4`}>
          {featured.map(async (post) => (
            <PostHeader post={post} />
          ))}
        </div>
      )
    }
  </div>
  <div class="rounded-lg bg-zinc-900/50 p-2">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
      {posts.map((post) => <PostHeader post={post} />)}
    </div>
  </div>
</Blog>
