---
import Toc from "$components/toc/toc.svelte";
import { nest } from "$lib/arrays";
import Callout from "$src/components/callout/callout.astro";
import Markdown from "$src/components/include/include.astro";
import type { TocConfig } from "$src/components/toc/toc-config";
import { Button } from "$src/components/ui/button";
import { type CollectionEntry } from "astro:content";
import { BookmarkPlus, Share2 } from "lucide-svelte";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

let Content: any, headings;
let toc: TocConfig[] = [];

if (post) {
  const p = await post.render();
  Content = p.Content;
  headings = p.headings;
  toc = nest<TocConfig>(headings);
}
---

<div class="post-wrapper mt-2 flex gap-8">
  <div class="w-52 sm:hidden">
    <div class="mb-2 flex items-center gap-2">
      <Button class="flex w-full items-center gap-1 hover:bg-fuchsia-600 hover:text-white" variant="outline">
        <BookmarkPlus class="h-5 w-5" />
        Save
      </Button>
      <Button class="flex w-full items-center gap-1 hover:bg-fuchsia-600 hover:text-white" variant="outline">
        <Share2 class="h-4 w-4" />
        Share
      </Button>
    </div>
    <div class="mb-1 text-sm text-slate-600">Table of Contents</div>
    <Toc config={toc} />
  </div>
  <div class="">
    {Content ? <Content components={{ Markdown, Callout }} /> : <p>Unable to load content.</p>}
  </div>
</div>

<style lang="scss">
  .post-wrapper {
    @apply text-slate-400;
  }
</style>
