---
import { type CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await post.render();
console.log(headings);
console.log(remarkPluginFrontmatter);
---

<div class="post-wrapper flex flex-col gap-4">
  <h1 class="text-2xl font-bold">{post.data.title}</h1>
  <Content />
</div>

<style lang="scss">
  .post-wrapper {
    @apply text-slate-400;
  }
</style>
