---
import Header from "$components/header.svelte";
import { getCollection } from "astro:content";
import { ModeWatcher } from "mode-watcher";
import BaseHead from "../../../components/base-head.astro";
import Footer from "../../../components/footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../../consts";
import Nav from "../nav.svelte";
import Category from "./category.svelte";

const categories = await getCollection("category");
const parents = categories.map((category) => category.data.parent);
console.log(parents);
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="h-screen">
      <ModeWatcher client:load />
      <Header client:visible />
      <main class="h-[calc(100vh-100px)] overflow-y-auto p-4">
        <div class="flex h-full gap-4">
          <Nav />
          <div class="flex-1">
            <div class="grid grid-flow-row-dense grid-cols-5 gap-4">
              {categories.map((category) => <Category category={category} />)}
            </div>
            <Footer />
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
