---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug } // Return slug as a string
  }));
}

const { slug } = Astro.params;
const post = await getCollection("blog").then((posts) => posts.find((p) => p.slug === slug));

if (!post) {
  throw new Error(`Post not found for slug: ${slug}`);
}
---

<html lang="en">
  <head>
    <title>{post.data.title}</title>
  </head>
  <body>
    <h1>{post.data.title}</h1>
    <div>{post.content}></div>
  </body>
</html>
