---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg">

	<h3>Principal Architect,<br>Software Engineer & DevOps Advocate</h1>
	<p>
		<img src="certs.png" alt="About Me" />
	</p>

	<p>When problems surface, I methodically turn them into opportunities.</p>
	<p>My stewardship keeps me intensely rooted from ideation to code with the intensity for focusing on methodologies that maximize outputs and minimizes inputs. By setting into motion, a “mentoring is implied” culture in a self-governing environment influenced by the strict practice of agile principles, a center of gravity begins to form around the requirements.</p>
	<p>The anatomy of my approach, the composition of strategic units that delivers consistent results with discipline & maturity is the foundation for attracting exceptionally smart people, that you can remarkably trust. What this will achieve will blow you away!</p>
	<p>Today’s proliferation of technology necessitates a paradigm shift in talent acquisition where being multi-disciplined is a pre-requisite, and having a healthy disregard for the status quo is now a stipulation.</p>
	<p>Fully embracing my autodidactic nature has facilitated the rapid ability to educate myself to advanced levels beyond the attainability of the traditional outlets in today’s industry. Because of this, I excel naturally in multi-disciplined environments, roles & capacities.</p>

	<p>
	I am a Senior, Full-Stack, Software Architect.
	– Matthew Davis
	</p>
</Layout>
