---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection("content");
  return pages.map((page) => ({
    params: { slug: page.data.slug },
    props: { page }
  }));
}

const { slug } = Astro.params;
const data = Astro.props.page.data;
---

<Layout>
  <div class="container mx-auto px-4 py-8">
    <h1 class="mb-6 text-2xl font-bold">
      Page title: {data.name}
    </h1>
    <div set:html={data.content} />
  </div>
</Layout>
