---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection("content");

  return pages.map((page) => ({
    params: { slug: page.data.slug },
    props: { page }
  }));
}

const data = Astro.props.page.data;
const contentHTML = Astro.props.page.rendered?.html;

console.log("cover", data.cover);
---

<Layout>
  <div class="container mx-auto px-4 py-8">
    <h1 class="mb-6 text-2xl font-bold">
      Page title: {data.name}
    </h1>
    <div>
      <!-- <img src={data.cover} /> -->
    </div>
    <div
      class="mt-2"
      set:html={contentHTML}
    />
  </div>
</Layout>
