---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const pagesCollection = await getCollection("pages");

  return pagesCollection.map((page) => ({
    params: { slug: page.data.slug },
    props: { page }
  }));
}

const seriesCollection = await getCollection("series");

const pageData = Astro.props.page.data;
const pageHTML = Astro.props.page.rendered?.html;
const pageSeries = pageData.series.relation.map((seriesId) => {
  return seriesCollection.find(({ id }) => id === seriesId)?.data.name;
});
---

<Layout>
  <div class="container mx-auto px-4 py-8">
    <h1 class="mb-6 text-2xl font-bold">
      Page title: {pageData.name}
    </h1>
    <div>
      Page series: {pageSeries.join(", ")}
    </div>
    <div
      class="mt-2"
      set:html={pageHTML}
    />
  </div>
</Layout>
