---
import { type Series } from "$lib/content";
import { Icon } from "astro-icon/components";
import Button from "../button.astro";
import { Badge } from "../ui/badge/index";

export interface Props {
  series: Series | undefined;
}

const { series } = Astro.props as Props;
const currentSlug: string = Astro.url?.pathname.split("/").pop() || "";

if (!series) {
  return;
}
---

<div class="flex gap-2">
  <div class="flex flex-1 flex-col gap-2 rounded-lg border-2 border-slate-400 bg-zinc-900/50 p-2 dark:border-slate-700/50">
    <div class="flex items-center gap-1.5 text-sm text-orange-400">
      <Badge variant="secondary" class="flex gap-1 bg-orange-500 px-1.5 py-0.5 text-white">
        <Icon name="mdi:book-open-page-variant-outline" class="h-4 w-4" />
        Series
      </Badge>
      <div class="font-semibold tracking-wider text-orange-500">{series.series?.data.title}</div>
    </div>
    <div class="flex flex-col gap-1">
      {
        series.posts.map((post, index) => (
          <div class={`text-slate-4000 dark:text-slate-6000 group flex items-center gap-1.5 text-sm tracking-wide ${post.slug === currentSlug ? "text-blue-500" : ""}`}>
            <div class="text-xs group-hover:text-slate-400">Part {index + 1}</div>
            <div class="text-sm">
              <a href={post.slug} class="group-hover:text-blue-500">
                {post.data.title}
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <div class="flex flex-col gap-2 rounded-lg border-2 border-slate-400 bg-zinc-900/50 p-2 dark:border-slate-700/50">
    <div class="flex flex-col justify-between gap-4 p-2 text-sm">
      <div class="flex flex-col gap-1">
        <div>Like this series?</div>
        <div class="text-slate-500">Not a subscriber yet?</div>
        <div class="font-bold text-blue-500">Make it yours!</div>
      </div>
      <Button variant="outline" class="flex items-center gap-1 text-orange-400">
        <Icon name="mdi:notebook-outline" size={18} class="text-slate-400" />
        Download eBook
      </Button>
    </div>
  </div>
</div>
