---
import Header from "$components/header.svelte";
import { getAllTags } from "$lib/tags";
import { ModeWatcher } from "mode-watcher";
import BaseHead from "../../../components/base-head.astro";
import Footer from "../../../components/footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../../consts";

const tags = await getAllTags();
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <ModeWatcher client:load />
    <Header client:visible />
    <main class="p-4">
      <section>
        <ul>
          {
            tags.map((tag) => (
              <li>
                <a href={`/blog/${tag}/`}>
                  <h4 class="title">{tag}</h4>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
