---
import BaseHead from "$components/base-head.astro";
import RightSideBar from "$components/blog/right-side-bar.svelte";
import Breadcrumbs from "$components/breadcrumbs/breadcrumbs.svelte";
import type { Crumb } from "$components/breadcrumbs/crumb";
import Footer from "$components/footer.astro";
import Header from "$components/header.svelte";
import Nav from "$pages/blog/nav.svelte";
import { type CollectionEntry } from "astro:content";
import { ModeWatcher } from "mode-watcher";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const crumbs: Crumb[] = [
  {
    label: "Blog",
    href: "/blog"
  },

  {
    label: post.data.title,
    href: post.slug
  }
];
---

<html lang="en" transition:animate="slide">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="debug-screens">
    <div class="h-screen">
      <ModeWatcher client:load />
      <Header client:visible />
      <main class="h-[calc(100vh-135px)] sm:overflow-y-auto sm:p-4 md:mr-4 xs:p-2">
        <div class="flex h-full gap-2">
          <Nav class="xs:hidden" />
          <div class="flex overflow-auto">
            <div class="flex w-full flex-col gap-2 pr-4">
              <Breadcrumbs {crumbs} />
              <slot />
              <Footer />
            </div>
            <RightSideBar class="mt-[28px] sm:hidden" />
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
